@font-face {
  font-family: "0xProto";
  src: url("./fonts/0xProto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "0xProto";
  src: url("./fonts/0xProto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "0xProto";
  src: url("./fonts/0xProto-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111111;
  font-family: "0xProto", monospace;
}

button,
input,
textarea {
  font: inherit;
}
